# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts



# python
__pycache__/
*.py[cod]
*$py.class

# venvs
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# packaging/build
*.egg-info/
.eggs/
*.egg
build/
dist/
wheels/
pip-wheel-metadata/

# tests/coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
coverage.xml
.cache/

# type checking/lint
.mypy_cache/
.pytype/
.pyre/
.ruff_cache/

# jupyter/ipython
.ipynb_checkpoints/
.ipython/
profile_default/

# logs
*.log

# OCR/Tesseract (se baixou localmente)
tessdata/
*.traineddata

# uploads/temp (ajuste conforme o seu app)
uploads/
tmp/
temp/