        # Web API
fastapi
uvicorn

# Image processing
pillow
python-multipart

# Google Cloud
google-cloud-aiplatform
google-auth
google-cloud-core
google-cloud-documentai
google-auth

# Environment variables
python-dotenv

# HTTP requests
requests
